@model TrueJobs.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<head>
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url('../../Content/img_biz/facts-bg2.jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        h2 {
            color: black;
            text-align: center
        }

        a:hover {
            text-decoration: none;
        }
    </style>


</head>


<body>
    <main id="main" style="margin-top:100px">


        <br />
        <br />


        <div class="register-box">

            <div class="register-logo">
                <h2>Creaza profil nou</h2>

            </div>
            <div class="register-box-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                @*<span class="glyphicon glyphicon-user form-control-feedback"></span>*@

            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Parola", @class = "form-control" })
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirma parola", @class = "form-control" })
            </div>
            <div class="form-group has-feedback">
                @*<div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="radio" name="radio" id="1" value="candidat" />Caut loc de munca
                <input type="radio" name="radio" id="2" value="companie" />Sunt companie
            </div>*@
                @*@Html.RadioButtonFor(m => m.YesNo, "Caut loc de munca")
            @Html.RadioButtonFor(m => m.YesNo, "Sunt Companie")*@
                <div class="col-md-8" style="color:black">Cauti loc de munca?</div>
                <div class="col-md-10" style="color:black">
                    @*@Html.RadioButtonFor(model => model.YesNo, "Yes", true) Da  @Html.RadioButtonFor(model => model.YesNo, "No", false) Nu, sunt companie*@
                    @Html.RadioButtonFor(model => model.YesNo, true) Da
                    @Html.RadioButtonFor(model => model.YesNo, false) Nu, sunt companie
                </div>



            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Pasul 2" />
                    </div>
                </div>
            </div>

}
            </div>
        </div>
        <br />
        <br />



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </main>
</body>